/* Container styling */
.container {
  padding: 20px;
}

/* Responsive grid for plans */
.plans-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Card styling */
.card {
  width: 250px;
  height: 350px;
  background: #07182E;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 20px;
  padding-bottom: 50px; /* Adjust for button height */
}

.card:hover {
  transform: translateY(-5px);
}

.card .content {
  padding: 20px;
}
.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.card div {
  z-index: 1;
  color: white;
}
.card button{
  z-index: 2;
}
.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  
.card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} 

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
  color: #555;
}

/* Button styling */
.button {
  height: 50px;
  width: 180px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 15px; /* Adjust to fix at the bottom */
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}

.button:hover {
  box-shadow: .5px .5px 150px #252525;
}

.type1::after {
  content: "Proceed to Pay";
  height: 50px;
  width: 180px;
  background-color: rgb(49, 49, 250);
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "Subscribe";
  height: 50px;
  width: 180px;
  background-color:rgb(223, 26, 26);
  color:#fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}
/* List-style reset */
.list-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
