.box-forgetpassword{
    margin:auto;
    margin-top: 15%;
    margin-left:35%;
    margin-right:35%;
    padding: 2%;
    background-color: rgb(255, 212, 56);
    box-shadow: 10px 10px;
    border-style: solid;
    border-color: rgb(255, 212, 56);
}

.otp-button{
    color:white;
    background-color: rgb(32, 32, 252);
    height: 40px;
    width: 100px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(32, 32, 255);
    margin-top :20px; 
}
.emaillabeldesign{
    margin:10px;
    font-family: "Roboto";
    font-size: 16px;
}
.error-Message{
    color:red;
    font-family: "Roboto";
    font-size:16px; 
}